.explore {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 5px;
}

.explore-origin {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.explore-btn {
  background-color: darkslategray;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 6px;
  padding: 7px;
}

.explore-by-area-dropdown {
  background-color: white;
  border-radius: 5px;
  font-size: 23px;
  height: fit-content;
  margin: 10px;
  padding: 3px 8px;
}
