.header {
  align-items: center;
  background-color: rgb(177, 98, 80);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 10px;
  width: 360px;
}

.icon-btn {
  background-color: rgb(177, 98, 80);
  border: none;
  padding: 7px;
}

.icon-btn-img {
  filter: invert(100%) sepia(100%) saturate(0%)
    hue-rotate(156deg) brightness(105%) contrast(103%);
}

.icon-btn-img:hover {
  filter: invert(86%) sepia(75%) saturate(681%)
    hue-rotate(309deg) brightness(106%) contrast(92%);
}

.icon-btn:focus {
  border-radius: 10px;
  outline: none;
}

.page-title {
  color: white;
  font-family: Gurajada , serif;
  font-size: 45px;
  margin: auto;
  position: relative;
  top: -6px;
}

.search-bar {
  box-shadow: 0 2px 5px 1px rgb(131, 131, 131);
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-around;
  padding: 8px 12px;
}

.search-radios {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.radio-label {
  align-items: center;
  display: flex;
  font-size: 17px;
  letter-spacing: 0.5px;
  margin: auto;
}

.radio {
  height: 2em;
  margin-right: 5px;
  width: 15px;
}

.search-btn {
  align-self: center;
  background-color: darkslategray;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgb(165, 165, 165);
  color: whitesmoke;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 3px;
  position: relative;
  width: 50%;
}

/*
Referência para alterar a cor do ícone svg:
https://www.ti-enxame.com/pt/css/alterar-cor-svg/1044922036/#:~:text=
Voc%C3%AA%20n%C3%A3o%20pode%20mudar%20a,ou%20usando%20inline.
*/
