.body-background {
  background-color: rgb(255, 220, 190, 0.85);
  height: 100%;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-card {
  background-color: rgba(92, 156, 156, 0.85);
  border-radius: 5px;
  box-shadow: 0 3px 5px 1px rgb(165, 165, 165);
  color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  letter-spacing: 1px;
  margin: 2.5%;
  padding: 3px;
  position: relative;
  top: 0;
  width: 45%;
}

.recipe-card:last-child {
  margin-bottom: 90px;
}

.recipe-card:hover {
  box-shadow: 0 6px 5px 3px rgb(165, 165, 165);
  color: white;
  text-decoration: none;
  top: -4px;
  transition: all 0.2s ease-in-out;
}

.card-img {
  height: 120px;
  margin-bottom: 10px;
}

.card-img > img {
  position: absolute;
}

.card-name {
  font-size: 16px;
  margin: 0 7px 5px;
}
