.body-background {
  background-color: rgba(255, 220, 190, 0.85);
  height: 100%;
  min-height: 100vh;
}

.recipes-list {
  background-color: rgba(255, 220, 190, 0.85);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-card {
  background-color: rgba(92, 156, 156, 0.85);
  border-radius: 5px;
  box-shadow: 0 3px 5px 1px rgb(165, 165, 165);
  color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  letter-spacing: 1px;
  margin: 3.5% 0 0;
  padding: 3px;
  position: relative;
  top: 0;
  width: 46%;
}

.recipe-card:last-child {
  margin-bottom: 100px;
}

.recipe-card:hover {
  color: white;
  text-decoration: none;
}

.card-img {
  height: 120px;
  margin-bottom: 10px;
}

.card-img > img {
  position: absolute;
}

.card-name {
  font-size: 16px;
  margin: 0 7px 5px;
}
