.carousel {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 45px;
  overflow-x: scroll;
  padding-top: 4px;
}

.recomendation-card {
  background-color: rgba(92, 156, 156, 0.85);
  border-radius: 5px;
  box-shadow: 0 3px 5px 1px rgb(165, 165, 165);
  color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  letter-spacing: 1px;
  margin: 0 4% 4% 1%;
  min-width: 46%;
  padding: 3px;
  position: relative;
  top: 0;
}

.recomendation-card:hover {
  box-shadow: 0 6px 5px 3px rgb(165, 165, 165);
  color: white;
  text-decoration: none;
  top: -4px;
  transition: all 0.2s ease-in-out;
}

.recomendation-card-img {
  height: 120px;
  margin-bottom: 5px;
}

.recomendation-card-img > img {
  position: absolute;
}

.recomendation-card-category {
  font-size: 14px;
  margin: 7px;
}

.recomendation-card-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 7px 10px;
}

/* Referência para o carrossel
Fonte: https://pt.stackoverflow.com/questions/328829/como-criar-um-overflow-horizontal */
